
.footer-part{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  border-bottom: 10px solid transparent;
  align-items: center;
}
footer {
    background-color: #4c4c4c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -3rem;
  }
  
  #footer-items {
    width: 62.4rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-weight: lighter;
    font-size: .8em;
    padding: 5em 0 3em;
  }
  
  .foot-item {
   width: 13rem;
   margin: .5rem;
  }
  
  .foot-post {
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin-bottom: 0;
  }
  #first-post {
    border-color: #599cde;
  }
  
  #second-post {
    color: #599cde;
  }
  
  
  #flickr {
    display: flex;
    flex-direction: column;
  }
  
  #flicker-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #flickr h4 {
    width: 100%;
  }
  
  .black-square {
    width: 24.1%;
    background-color: #262626;
    min-height: 55px;
    margin-bottom: 1%;
  }
  
  #copyRight {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    background-color: black;
    align-items: center;
    height: 80px;
    color:#ffffff;
  }
  
  #links h4 {
    margin-right: auto;
    color: white;
    font-size: .8em;
    font-weight: normal;
  }
  
  #icons i {
    color: t;
    margin-left: 12.5px;
    font-size: 27px;
  }
  
  #icons i:hover {
    color: white;
  }
  
  #arrow {
    position: fixed;
    top: 90%;
    left: 90%;
    font-size: 60px;
    color: #262626;
    right: 1%;
  }
  
  .fa-caret-square-up {
    border-radius: 50%;
  }
  
  .footerIcon {
    position: relative;
    display: inline-block;
    background-color:black;
    width:4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  
  
  